{include file="common/head"/}
<div class="admin-main layui-anim layui-anim-upbit">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>编辑评选标准</legend>
    </fieldset>
    <form class="layui-form layui-form-pane" lay-filter="form">
        <div class="layui-form-item">
            <label class="layui-form-label">评选标准</label>
            <div class="layui-input-4">
                <input type="text" lay-verify="stand_name" name="stand_name" placeholder="{:lang('pleaseEnter')}评选标准" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">分数档次</label>
            <div class="layui-input-4">
                <input type="text" lay-verify="mark" name="mark" placeholder="{:lang('pleaseEnter')}分数档次(格式示例：30,25,20,15,10)" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">评价要点</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" name="stand_text" class="layui-textarea" id="demo" style="display: none;"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="button" class="layui-btn" lay-submit="" lay-filter="submit">{:lang('submit')}</button>
                <a href="{:url('stList')}" class="layui-btn layui-btn-primary">{:lang('back')}</a>
            </div>
        </div>
    </form>
</div>
{include file="common/foot"/}
<script>
    layui.use(['form', 'layer','upload','layedit'], function () {
        var form = layui.form, layer = layui.layer,$= layui.jquery,upload = layui.upload,layedit = layui.layedit;
        var info = {$info|raw};
        form.val("form", info);
        form.render();
        form.on('submit(submit)', function (data) {
            if (info) {
                data.field.id = info.id;
            }
            loading =layer.load(1, {shade: [0.1,'#fff']});
            $.post("", data.field, function (res) {
                layer.close(loading);
                if (res.code > 0) {
                    layer.msg(res.msg, {time: 1800, icon: 1}, function () {
                        location.href = res.url;
                    });
                } else {
                    layer.msg(res.msg, {time: 1800, icon: 2});
                }
            });
        });
        layedit.set({
            uploadImage: {
                url: '{:url("UpFiles/layedit")}' //接口url
                ,type: 'post' //默认post
            }
        });
        var index = layedit.build('demo',{
            tool: ['left', 'center', 'right', '|', 'face','image','link','strong','italic','underline','del']
        });
        form.verify({
            stand_text: function(value) {
                layedit.sync(index);
            }
        });
    });
</script>